@media (min-width: 600px) {
	/**
	 * Header and navigation styling 
	 */
	header {
		height: 180px;
		background: url(../images/mountain-road.jpg) center / cover;
		background-position: 0px 295px;
		color: white;
	}

	header > .header-title {
		display: block;
		float: left;
		line-height: 50px;
		position: relative;
		top: calc(100% - 65px);
		left: 50px;
		font-weight: 500;
	}
	
	.header-title a {
		color: white;
	}
	
	.menu-icon {
		display: none;
	}

	header > navigation {
		display: block;
		float: right;
		line-height: 50px;
		margin: 0;
		padding: 0;
		position: relative;
		top: calc(100% - 65px);
		position: relative;
	}

	.navigation-link {
		color: rgba(255, 255, 255, .87);
		margin-right: 20px;
		font-weight: 400;
		font-size: 14px;
	}

	.raised-button {
		padding: 10px 18px;
		border-radius: 3px;
		background: #ffab40;
		color: #333;
		box-shadow: 2px 2px 5px;
		text-transform: uppercase;
		border-width: 0;
		cursor: pointer;
	}
	
	.scroll-helper {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background: #ffab40;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		position: fixed;
		bottom: 20px;
		right: 20px;
		cursor: pointer;
	}
	
	.scroll-helper > div {
		background: url(../images/arrow.png) center / cover;
		background-size: 50% 50%;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		position: relative;
	}

	/**
	 * Card styling
	 */
	.card {
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		margin: 30px 10%;
		line-height: 24px;
		background: #ffffff;
	}

	.card > .card_content {
		color: rgba(0, 0, 0, .54);
		font-weight: 400;
		padding: 20px;
	}

	.card > .card_title {
		color: #000000;
		font-weight: 300;
		padding: 20px;
		padding-bottom: 25px;
	}

	/* Card with header image */
	.card > .card_title-image {
		height: 120px;
	}

	.card > .card_title-image > h2 {
		color: #ffffff;
		margin-top: 110px;
	}

	.card > .card_title-image--services {
		background: url(../images/Desert.jpg);
		background-position: center 545px;
	}

	.card > .card_title-image--pricing {
		background: url(../images/Lighthouse.jpg);
		background-position: center 454px;
	}

	/* Card that is 1/3 of the standard width */
	.card_narrow {
		width: calc(26% - 6px);
		margin: 0px;
		display: inline-block
	}

	.card_narrow-left {
		margin-left: 10%;
	}

	.card_narrow-center {
		margin-left: 10px;
		margin-right: 10px;
	}

	.card_narrow-right {
		margin-right: 10%;
	}

	/* Card  that is transparent */
	.card_simple {
		box-shadow: none;
		background: transparent;
	}
}