/*
 * Style resets
 */
 body, h2 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/**
 * General styling
 */
body {
	background: #fafafa;
	font-family: "Helvetica","Arial",sans-serif;
}

.center-text {
	text-align: center;
}

.hidden {
	display: none;
}

@media (max-width: 599px) {
	/**
	 * Header and navigation styling 
	 */
	header {
		height: 130px;
		background: url(../images/mountain-road.jpg) center / cover;
		background-repeat: no-repeat;
		color: white;
	}

	header > .header-title {
		display: block;
		float: left;
		line-height: 50px;
		position: relative;
		top: calc(100% - 57px);
		left: 25px;
		font-weight: 500;	
	}
	
	.menu-icon {
		display: block;
		float: right;
		right: 20px;
		position: relative;
		top: calc(100% - 42px);
		width: 20px;
		height: 20px;
		background: url(../images/menu.png) center / cover;
	}

	header > navigation {
		padding: 0;
		position: relative;
		top: 80px;
		width: 100%;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
	}

	navigation a {
		width: calc(100% - 30px);
		display: block;
		background: #333;
	}

	.navigation-link {
		color: rgba(255, 255, 255, .87);
		font-weight: 400;
		font-size: 14px;		
		line-height: 50px;
		padding-left: 30px;
	}
	
	.navigation-link:last-child {
		height: 50px;
	}

	.raised-button {
		padding: 10px 18px;
		border-radius: 3px;
		background: #ffab40;
		color: #333;
		box-shadow: 2px 2px 5px;
		text-transform: uppercase;
		border-width: 0;
	}
	
	.scroll-helper {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background: #ffab40;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		position: fixed;
		bottom: 20px;
		right: 20px;
		cursor: pointer;
	}
	
	.scroll-helper > div {
		background: url(../images/arrow.png) center / cover;
		background-size: 50% 50%;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		position: relative;
	}

	/**
	 * Card styling
	 */
	.card {
		box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
		margin: 30px 15px;
		line-height: 24px;
		background: #ffffff;
	}

	.card > .card_content {
		color: rgba(0, 0, 0, .54);
		font-weight: 400;
		padding: 20px;
	}

	.card > .card_title {
		color: #000000;
		font-weight: 300;
		padding: 20px;
		padding-bottom: 25px;
	}

	/* Card with header image */
	.card > .card_title-image {
		height: 120px;
	}

	.card > .card_title-image > h2 {
		color: #ffffff;
		margin-top: 110px;
	}

	.card > .card_title-image--services {
		background: url(../images/Desert.jpg);
		background-position: center 545px;
	}

	.card > .card_title-image--pricing {
		background: url(../images/Lighthouse.jpg);
		background-position: center 454px;
	}

	/* Card  that is transparent */
	.card_simple {
		box-shadow: none;
		background: transparent;
	}
}